{% extends "base.html" %}
{% load i18n %}
{% block content %}
<style>
    .nav-tabs {
        border-bottom: 2px solid #DDD;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: cornsilk;
    }

    .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        color: goldenrod !important;
        background: transparent;
    }

    .nav-tabs > li > a::after {
        content: "";
        background: goldenrod;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

    .tab-nav > li > a::after {
        background: goldenrod none repeat scroll 0% 0%;
    }

    .tab-pane {
        padding: 15px 0;
    }

    .tab-content {
        padding: 5px;
        background-image: url("/static/img/graph.jpg");
        height: 600px;
        z-index: 10000;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    }

    .card {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        height: auto
    }

    #widgets {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

        height: 200px
    }

    #tweetContainer {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 0px;
        height: 350px;
        top: -20px;
        position: relative;
    }

    #treeMap {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 5px;
        height: 450px;
    }

</style>

<style type="text/css">
    body {
        font-family: Helvetica, Arial, Verdana;
    }
    .container .pvtlD3TreemapNode {
        background: darkseagreen;
        border: 3px solid white;
    }
    .container .pvtlD3TreemapNode div {
        margin: 0;
        padding: 15px;
    }
    span.population,
    span.label {
        display: block;
        margin: 10px 0;
        font-weight: bold;
    }
    span.label:before {
        content: 'Label:';
        display: block;
        font-weight: normal;
    }
    span.population:before {
        content: 'Population:';
        display: block;
        font-weight: normal;
    }
    .form-control {width:120px;}
    .popover {max-width:400px;}
</style>
<script type='text/javascript'>
    var back = "{{form|escapejs}}";
    window.data = back


</script>

<div id="dashboard" ng-controller="DashboardCtrl">
<form action="" method="post" >
    <div class="navbar navbar-default">
        {% csrf_token %}
        {%verbatim%}
        <div class="col-sm-2">

            <h3>TweetWalker</h3>

        </div>
        <div class="col-sm-6" style="margin-top:5px">
            <div class="input-group">
                <input type="text" class="form-control" name="hashtag_dashboard" id="hashtag_dashboard" ng-model="hashtagdb"
                       placeholder="# enter hashtag"/>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary" id="submit_dashboard" name="get_tweets_dashboard"
                            type="submit" value="Send" ng-disabled="disabled" >Get Tweets!</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
    </div>

<div class="container" style="width:100%;overflow: hidden;height:900px">

    <div class="container-fluid" style="margin-top:10px">
        <div class="row">
            <!--<div class="col-md-8 col-md-pull-0" id="viz">-->
            <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a data-toggle="tab" href="#linechart">Line Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#barchart">Bar Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#piechart">Pie Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#genchart">Gender Line Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#genchartbar">Gender Bar Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#genpiechart">Gender Pie Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#circlechart">circleChart</a></li>-->
            <!--<li><a data-toggle="tab" href="#bubblechart">Bubble Chart</a></li>-->
            <!--<li><a data-toggle="tab" href="#slidechart">Slide Chart</a></li>-->
            <!--</ul>-->
            <!--<div class="tab-content">-->
            <!--<div id="linechart" class="tab-pane fade in active">-->
            <!--<h3>Line Chart Visualization</h3>-->
            <!--<h4>Choose Dimension for X-Axis:</h4>-->

            <!--<div ng-repeat="xLineKey in x_line_tweets" class="checkboxtext">-->
            <!--<input type="radio" id="{{xLineKey}}_line" class="chk" name="x_line_dimension"-->
            <!--value="{{xLineKey}}" ng-click="check_x_line(xLineKey)" required/>-->
            <!--<label>{{xLineKey}}</label>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<h4>Choose Dimension for Y-Axis:</h4>-->

            <!--<div ng-repeat="yLineKey in y_line_tweets" class="checkboxtext">-->
            <!--<input type="radio" id="{{yLineKey}}_line" class="chk" name="y_line_dimension"-->
            <!--value="{{yLineKey}}" ng-click="check_y_line(yLineKey)" required/>-->
            <!--<label>{{yLineKey}}</label>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<br/>-->
            <!--<button ng-click="regenerateLineViz()" disabled>Get Visualization</button>-->
            <!--<br/>-->
            <!--<br/>-->

            <!--<div linear-chart chart-data="plotData" yaxis-label="retweet_count" xaxis-label="minutes"-->
            <!--type="regular" style="position: relative;top:30%;left:5%"></div>-->
            <!--</div>-->
            <!--<div id="barchart" class="tab-pane fade">-->
            <!--<h3>Bar Chart Visualization</h3>-->
            <!--<h4>Choose Dimension for X-Axis:</h4>-->

            <!--<div ng-repeat="xBarKey in x_bar_tweets" class="checkboxtext">-->
            <!--<input type="radio" id="{{xBarKey}}_line" class="chk" name="x_bar_dimension"-->
            <!--value="{{xBarKey}}" ng-click="check_x_bar(xBarKey)" required/>-->
            <!--<label>{{xBarKey}}</label>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<h4>Choose Dimension for Y-Axis:</h4>-->

            <!--<div ng-repeat="yBarKey in y_bar_tweets" class="checkboxtext">-->
            <!--<input type="radio" id="{{yBarKey}}_line" class="chk" name="y_bar_dimension"-->
            <!--value="{{yBarKey}}" ng-click="check_y_bar(yBarKey)" required/>-->
            <!--<label>{{yBarKey}}</label>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<br/>-->
            <!--<button ng-click="regenerateBarViz()" disabled>Get Visualization</button>-->
            <!--<br/>-->
            <!--<br/>-->

            <!--<div bar-chart chart-data="plotData" yaxis-label="retweet_count" xaxis-label="minutes"-->
            <!--type="regular"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>-->
            <!--</div>-->

            <!--<div id="genchart" class="tab-pane fade">-->
            <!--<h3>Gender Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div gen-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px" id="gchart"></div>-->

            <!--</div>-->
            <!--<div id="genchartbar" class="tab-pane fade">-->
            <!--<h3>Gender Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div bar-chart chart-data="data_m" data_f="data_f" yaxis-label="retweet count"-->
            <!--xaxis-label="minutes" type="gender"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"-->
            <!--id="gbarchart"></div>-->

            <!--</div>-->

            <!--<div id="piechart" class="tab-pane fade">-->
            <!--<h3>Pie Chart Visualization</h3>-->
            <!--<h4>Choose Dimension:</h4>-->

            <!--<div ng-repeat="pieKey in pie_tweets" class="checkboxtext">-->
            <!--<input type="radio" id="{{pieKey}}_line" class="chk" name="pie_dimension"-->
            <!--value="{{pieKey}}" required/>-->
            <!--<label>{{pieKey}}</label>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<br/>-->
            <!--<button>Get Visualization</button>-->
            <!--<br/>-->
            <!--<br/>-->

            <!--<div pie-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"-->
            <!--type="lang" style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>-->

            <!--</div>-->
            <!--<div id="genpiechart" class="tab-pane fade">-->
            <!--<h3>Pie Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div pie-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"-->
            <!--type="gender"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>-->

            <!--</div>-->
            <!--<div id="circlechart" class="tab-pane fade">-->
            <!--<h3>Circle Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div circle-chart style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"-->
            <!--id="cchart"></div>-->

            <!--</div>-->
            <!--<div id="bubblechart" class="tab-pane fade">-->
            <!--<h3>Bubble Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div bubble-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"-->
            <!--type="lang" id="bubble"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>-->

            <!--</div>-->
            <!--<div id="slidechart" class="tab-pane fade">-->
            <!--<h3>Slide Chart Visualization</h3>-->
            <!--<br/>-->

            <!--<div slide-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"-->
            <!--type="gender" id="slide"-->
            <!--style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>-->

            <!--</div>-->
            <!--</div>-->
            <!--<div style="width: 25%;">-->

            <!--<sentiment-directive id="gauge1" config="gauge"></sentiment-directive>-->
            <!--</div>-->
            <!--      <div class="container">
                      <div class="row">-->
            <!--
            <div id="1D" class="hide">
                <div ng-repeat="xBarKey in x_bar_tweets" class="checkboxtext">
                <input type="radio" id="{{xBarKey}}_line" class="chk" name="x_bar_dimension"
                value="{{xBarKey}}" ng-click="check_x_bar(xBarKey)" />
                <label>{{xBarKey}}</label>
                </div>
            </div>
            <div id="1M" class="hide">
                <div ng-repeat="yBarKey in y_bar_tweets" class="checkboxtext">
                    <input type="radio" id="{{yBarKey}}_line" class="chk" name="y_bar_dimension"
                    value="{{yBarKey}}" ng-click="check_y_bar(yBarKey)" />
                    <label>{{yBarKey}}</label>
                    </div>
            </div>

            <div id="2D">
                <input type="radio" id="total_line" name="line_met" onclick="check_x_line('total')"/>
                <label>Total</label>
                <input type="radio" id="gender_line" name="line_met" onclick="check_x_line('gender')"/>
                <label>Gender</label>
                <input type="radio" id="sentiment_line" name="line_met" onclick="check_x_line('sentiment')"/>
                <label>Sentiment</label>
            </div>
            -->
            <div id="2M" class="hide">
                <div ng-repeat="yLineKey in y_line_tweets" class="checkboxtext">
                    <input type="radio" id="{{yLineKey}}_line" class="chk" name="y_line_dimension"
                    value="{{yLineKey}}" ng-click="check_y_line(yLineKey)" />
                    <label>{{yLineKey}}</label>
                    </div>
            </div>
            <!--
            <div id="3D" class="hide">
                <div ng-repeat="pieKey in pie_tweets" class="checkboxtext">
                <input type="radio" id="{{pieKey}}_line" class="chk" name="pie_dimension"
                value="{{pieKey}}" />
                <label>{{pieKey}}</label>
                </div>
            </div>
            -->
            <div id="3M" class="hide">
                <!--<div ng-repeat="xLineKey in x_line_tweets" class="checkboxtext">-->
                    <!--<input type="radio" id="{{xLineKey}}_line" class="chk" name="x_line_dimension"-->
                           <!--value="{{xLineKey}}" ng-click="check_x_line(xLineKey)" required/>-->
                    <!--<label>{{xLineKey}}</label>-->
                <!--</div>-->
            </div>
            <div class="col-md-8">
                <div id="widgets" style="top: -20px;position: relative;">

                    <div class="col" style="float:left;left:0;width: 20%;margin: 5px;margin-left:25px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);z-index: 9999;background-color: whitesmoke">

                    <sentiment-directive id="gauge1" config="gauge" style="width:80%;position:relative;top:4px;margin-left:15px;"></sentiment-directive>
                    </div>
                    <div class="col" style="float:left;position:relative;width: 20%;margin: 5px;margin-left:25px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);z-index: 9999;background-color: whitesmoke">

                        <sentiment-directive id="gauge2" config="gauge" style="width:80%;position:relative;top:4px;margin-left:15px;"></sentiment-directive>
                    </div>

                    <div class="col" style="float:left;position:relative;width: 20%; height: 100%;margin: 5px;margin-left:25px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);z-index: 9999;background-color: whitesmoke">

                        <!--<seg7disp id="wid3" style="width:80%;position:relative;top:4px;margin-left:15px;"></seg7disp>-->
                        <div id="seg-7-disp" style="width:80%; height:80%; position:relative;top:4px;margin-left:5px;">
                            <div class="seven-segment" style="float:left;left:0;width: 25%; height: 70%;margin: 3%">
                                <div class="a" style="width: 100%"></div>
                                <div class="b" style="height: 48%;"></div>
                                <div class="c" style="height: 48%;"></div>
                                <div class="d" style="width: 100%"></div>
                                <div class="e" style="height: 48%"></div>
                                <div class="f" style="height: 48%"></div>
                                <!--<div class="g">-->
                                        <div class="gtop" style="width: 100%"></div>
                                        <div class="gbottom"></div>
                                <!--</div>-->
                            </div>
                            <div class="seven-segment" style="float:left;position:relative;width: 25%;height: 70%;margin: 3%">
                                <div class="a" style="width: 100%"></div>
                                <div class="b" style="height: 48%;"></div>
                                <div class="c" style="height: 48%;"></div>
                                <div class="d" style="width: 100%"></div>
                                <div class="e" style="height: 48%"></div>
                                <div class="f" style="height: 48%"></div>
                                <div class="gtop" style="width: 100%"></div>
                                <div class="gbottom"></div>
                                <!--<div class="g"></div>-->
                            </div>
                            <div class="seven-segment" style="float: left;position: relative;width: 5%;height: 70%;margin: 1%">
                                <div class="pt"> </div>
                            </div>
                            <!--<div style="width: 10px; height: 10px; float:left"></div>-->
                            <div class="seven-segment" style="float:left;position:relative;width: 25%;height: 70%;margin: 3%">
                                <div class="a" style="width: 100%"></div>
                                <div class="b" style="height: 48%;"></div>
                                <div class="c" style="height: 48%;"></div>
                                <div class="d" style="width: 100%"></div>
                                <div class="e" style="height: 48%"></div>
                                <div class="f" style="height: 48%"></div>
                                <div class="gtop" style="width: 100%"></div>
                                <div class="gbottom"></div>
                                <!--<div class="g"></div>-->
                            </div>
                        </div>
                        <div style="top: 50px"><p align="center">Impact Point of the searched query!!</p></div>
                    </div>
                    <div class="col" style="float:left;position:relative;width: 20%;margin: 5px;margin-left:26px;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);z-index: 9999;background-color: whitesmoke">

                        <sentiment-directive id="gauge4" config="gauge" style="width:80%;position:relative;top:4px;margin-left:15px;"></sentiment-directive>
                    </div>



                </div>
                <!-- Nav tabs -->
                <div class="card" >
                    <ul class="nav nav-tabs" role="tablist" style="background-color: #16a085;color: cornsilk;">
                        <li role="presentation" class="active"><a href="#barChart" aria-controls="barchart" role="tab"
                                                                  ng-click="tab_change('1D')" data-toggle="tab">Bar Chart</a></li>

                        <li role="presentation"><a href="#lineChart" aria-controls="linechart" ng-click="tab_change('2D')" role="tab" data-toggle="tab">Line
                            Chart</a></li>
                        <li role="presentation"><a href="#pieChart" aria-controls="piechart" ng-click="tab_change('3D')" role="tab" data-toggle="tab">Pie
                            Chart</a></li>
                        <li role="presentation"><a href="#bubbleChart" aria-controls="bubblechart" role="tab"
                                                   ng-click="tab_change('4D')" data-toggle="tab">Bubble Chart</a></li>
                        <li role="presentation"><a href="#slideChart" aria-controls="slideChart" role="tab"
                                                   ng-click="tab_change('4D')" data-toggle="tab">Slide Chart</a></li>
                        <li role="presentation"><a href="#circleChart" aria-controls="circleChart" role="tab"
                                                   ng-click="tab_change('4D')" data-toggle="tab">Circle Chart</a></li>
                        <!--<li style="float: right"><a data-placement="left" data-toggle="popover" data-container="body" data-trigger="click"  type="button" data-html="true" href="#" id="login"><span title="Data Filter" class="glyphicon glyphicon-th" style="margin:3px 0 0 0"></span></a></li>-->

                    </ul>

                    <div id="1D" style="background-color: #16a085;color: cornsilk;">
                        <label>&nbsp;&nbsp;&nbsp;Change Metrics:&nbsp;&nbsp;</label>
                        <input type="radio" id="gender_bar" name="bar_x_met" onclick="check_x_bar('gender')"/>
                        <label>Gender&nbsp;&nbsp;</label>
                        <input type="radio" id="language_bar" name="bar_x_met" onclick="check_x_bar('lang')"/>
                        <label>Language&nbsp;&nbsp;</label>
                        <input type="radio" id="sentiment_bar" name="bar_x_met" onclick="check_x_bar('sentiment')"/>
                        <label>Sentiment</label>
                        <!--
                        <input type="radio" id="total_bar" name="bar_x_met" onclick="check_x_bar('sentiment')"/>
                        <label>Total</label>
                        -->
                    </div>
                    <div id="1M" style="background-color: #16a085;color: cornsilk;">
                        <label>&nbsp;&nbsp;&nbsp;Change Metrics:&nbsp;&nbsp;</label>
                        <input type="radio" id="tweet_bar" name="bar_y_met" onclick="check_y_bar('tweet_count')"/>
                        <label>Tweet&nbsp;&nbsp;</label>
                        <input type="radio" id="retweet_bar" name="bar_y_met" onclick="check_y_bar('retweet_count')"/>
                        <label>Retweet&nbsp;&nbsp;</label>
                        <input type="radio" id="impact_bar" name="bar_y_met" onclick="check_y_bar('impact')"/>
                        <label>ImpactFactor</label>
                    </div>

                    <div id="2D" style="display:none; background-color: #16a085;color: cornsilk;">
                        <label>&nbsp;&nbsp;&nbsp;Change Metrics:&nbsp;&nbsp;</label>
                        <input type="radio" id="total_line" name="line_met" onclick="check_x_line('total')"/>
                        <label>Total&nbsp;&nbsp;</label>
                        <input type="radio" id="gender_line" name="line_met" onclick="check_x_line('gender')"/>
                        <label>Gender&nbsp;&nbsp;</label>
                        <input type="radio" id="sentiment_line" name="line_met" onclick="check_x_line('sentiment')"/>
                        <label>Sentiment</label>
                    </div>

                    <div id="3D" style="display:none; background-color: #16a085;color: cornsilk;">
                        <label>&nbsp;&nbsp;&nbsp;Change Metrics:&nbsp;&nbsp;</label>
                        <input type="radio" id="gender_pie" name="pie_met" onclick="check_pie('gender')"/>
                        <label>Gender&nbsp;&nbsp;</label>
                        <input type="radio" id="lang_pie" name="pie_met" onclick="check_pie('lang')"/>
                        <label>Language&nbsp;&nbsp;</label>
                        <input type="radio" id="sentiment_pie" name="pie_met" onclick="check_pie('sentiment')"/>
                        <label>Sentiment</label>
                    </div>

                    <!-- Tab panes -->
                    <div id="container1" style="margin:8px;">
                        <div class="tab-content" id="viz">
                            <div role="tabpanel" class="tab-pane active" id="barChart">
                                <div id="bardim" style="position: relative;left: 97%;width:25px;background-color:white;border-radius: 50%;border: 2px solid royalblue"><a data-placement="left" data-toggle="popover1d" data-container="body" data-trigger="focus"  type="button" data-html="true" href="#" ><span style="font-size: large"title="Data Filter">&nbsp;D</span></a></div>
                                <br>
                                <br>
                                <div id="barmeasure" style="position: relative;left: 97%;width:25px;background-color:white;border-radius: 50%;border: 2px solid royalblue"><a data-placement="left" data-toggle="popover1m" data-container="body" data-trigger="focus"  type="button" data-html="true" href="#" ><span style="font-size: large"title="Data Filter">&nbsp;M</span></a></div>

                                <div bar-chart chart-data="data_m" data_f="data_f" yaxis-label="retweet count"
                                     xaxis-label="minutes" type="gender"
                                     style="position: relative;top:-120px;left:0%; height: 400px;width: 400px"
                                     id="gbarchart"></div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="lineChart">

                                <!--
                                <div id="linedim" style="position: relative;float: left;width:16%;background-color:white;border-radius: 50%;border: 2px solid royalblue" align="center">

                                    <a data-placement="right" data-toggle="popover2d" data-container="body" data-trigger="focus"  type="button" data-html="true" ng-href="#" >
                                        <span style="font-size: large"title="Data Filter">&nbsp;Change Metric</span>
                                    </a>

                                </div>
                                -->
                                <div style="position: relative;float: right;width:10%;border: 2px solid royalblue">
                                    <div style="position: relative;background-color:green" align="right" ng-show="totalbool">Total</div>
                                    <div style="position: relative;background-color:blue" align="right" ng-show="genderbool">Male</div>
                                    <div style="position: relative;background-color:pink" align="right" ng-show="genderbool">Female</div>
                                    <div style="position: relative;background-color:black" align="right" ng-show="sentibool">Negative</div>
                                    <div style="position: relative;background-color:red" align="right" ng-show="sentibool">Neutral</div>
                                    <div style="position: relative;background-color:yellow" align="right" ng-show="sentibool">Positive</div>
                                </div>
                                <!--<div id="linemeasure" style="position: relative;left: 97%;width:25px;background-color:white;border-radius: 50%;border: 2px solid royalblue">-->
                                    <!--<span style="font-size: large"title="Data Filter">&nbsp;M</span>-->
                                <!--</div>-->

                                <div linear-chart chart-data="plotData" yaxis-label="retweet_count"
                                     xaxis-label="minutes"
                                     type="regular" style="position: relative;top:30%;left:5%"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="pieChart">
                                <div id="piedim" style="position: relative;left: 97%;width:25px;background-color:white;border-radius: 50%;border: 2px solid royalblue"><a data-placement="left" data-toggle="popover3d" data-container="body" data-trigger="focus"  type="button" data-html="true" href="#" ><span style="font-size: large"title="Data Filter">&nbsp;D</span></a></div>
                                <br>
                                <br>
                                <!--<div id="piemeasure" style="position: relative;left: 97%;width:25px;background-color:white;border-radius: 50%;border: 2px solid royalblue"><a data-placement="left" data-toggle="popover3m" data-container="body" data-trigger="focus"  type="button" data-html="true" href="#" ><span style="font-size: large"title="Data Filter">&nbsp;M</span></a></div>-->

                                <div id="piechartdiag" pie-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"
                                     type="gender"
                                     style="position: relative;top:-90px;left:0; height:400px;width: 80%"></div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="bubbleChart">
                                <div bubble-chart chart-data="plotData" yaxis-label="retweet count"
                                     xaxis-label="minutes"
                                     type="lang" id="bubble"
                                     style="position: relative;top:-20px;left:5%; height: 400px;width: 400px"></div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="circleChart">
                                <div circle-chart style="position: relative;top:30%;left:15%; height: 100px;width: 100px"
                                id="cchart"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="slideChart">

                                <div slide-chart chart-data="plotData" yaxis-label="retweet count" xaxis-label="minutes"
                                     type="gender" id="slide"
                                     style="position: relative;top:40px;left:5%; height: 400px;width: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                            </div>
            -->


            <div class="col-md-4 col-md-push-0">
                <div id="tweetContainer">
                    <ul class="nav nav-tabs" role="tablist"
                        style="color: cornsilk;height:40px;background-color: #16a085">
                        <li role="presentation" class="active"
                            style="font-size: 20pt;font-weight: bold;padding-left: 10px;top:5px">Tweet Feeder
                        </li>

                    </ul>
                    <!--<div id="feederLabel" style="color: cornsilk;height:40px;background-color: #16a085">
                       <span style="font-size: 20pt;font-weight: bold;padding-left: 10px"> Tweet Feeder</span>
                        </div>-->
                    <div id="tweetContent" style="overflow: scroll;height:300px">
                        <ul class="timeline">
                            <li ng-repeat="tweet in tweets">
                                <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h6 class="timeline-title">@ {{tweet.screenname}}</h6>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{tweet.text}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="treeMap">
                    <!--<div id="treeLabel" style="color: cornsilk;height:40px;background-color: #16a085">-->
                    <!--<span style="font-size: 20pt;font-weight: bold;padding-left: 10px"> Tree Map</span>-->
                    <!--</div>-->
                    <ul class="nav nav-tabs" role="tablist"
                        style="color: cornsilk;height:30px;background-color: #16a085">
                        <li role="presentation" class="active"
                            style="font-size: 20pt;font-weight: bold;padding-left: 10px;top:-5px">Tree Map
                        </li>

                    </ul>
                    <button class="btn btn-primary" ng-click="loadData()">Load Data</button>
                    <button  class="btn btn-primary" ng-click="updateData()">Update Data</button>
                    <button  class="btn btn-primary" ng-click="clearData()">Clear Data</button>
                    <tree-map width="370" height="350" data="populationData" value="population">
                        <div>
                            <div ng-if="!children">
                                <!--<span class="label">{{label}}</span>-->
                                <!--<span class="population">{{population}}</span>-->
                            </div>
                        </div>
                    </tree-map>
                    {%endverbatim%}
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>

{% endblock content %}
