{% extends "base.html" %}
{% load i18n %}
{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2>TweetWalker</h2>
        </div>
    </div>
</nav>
<div id="dashboard" ng-controller="DashboardCtrl" class="container" style="width:100%;">
    <script type='text/javascript'>
        var back = "{{form|escapejs}}";
        window.data = back
    </script>
    {%verbatim%}
    <div class="col-md-9" id = "viz">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#linechart">Line Chart</a></li>
            <li><a data-toggle="tab" href="#barchart">Bar Chart</a></li>
            <li><a data-toggle="tab" href="#piechart">Pie Chart</a></li>
        </ul>
        <div class="tab-content">
            <div id="linechart" class="tab-pane fade in active">
                <h3>Line Chart Visualization</h3>
				<h5>Choose Dimension for X-Axis:</h5>
				<div ng-repeat="xLineKey in x_line_tweets" class="checkboxtext">
					<input type="checkbox" class="chk" id="{{xLineKey}}_line" ng-click="check_x_line(xLineKey)">{{xLineKey}}</input>
				</div>
				<br/>
				<h5>Choose Dimension for Y-Axis:</h5>
				<div ng-repeat="yLineKey in y_line_tweets" class="checkboxtext">
					<input type="checkbox" class="chk" id="{{yLineKey}}_line" ng-click="check_y_line(yLineKey)">{{yLineKey}}</input>
				</div>
				<br/>
				<br/>
				<button>Get Visualization</button>
				<br/>
				<br/>
                <div linear-chart chart-data="plotData" yaxis-label="tweet count" xaxis-label="minutes" style="position: relative;top:30%;left:5%"></div>
            </div>
            <div id="barchart" class="tab-pane fade">
                <h3>Bar Chart Visualization</h3>
                <h5>Choose Dimension for X-Axis:</h5>
                <div ng-repeat="xBarKey in x_bar_tweets" class="checkboxtext">
                    <input type="checkbox" class="chk" id="{{xBarKey}}_bar" ng-click="check_x_bar(xBarKey)">{{xBarKey}}</input>
                </div>
                <br/>
                <h5>Choose Dimension for Y-Axis:</h5>
                <div ng-repeat="yBarKey in y_bar_tweets" class="checkboxtext">
                    <input type="checkbox" class="chk" id="{{yBarKey}}_bar" ng-click="check_y_bar(yBarKey)">{{yBarKey}}</input>
                </div>
                <br/>
                <br/>
                <button>Get Visualization</button>
                <br/>
                <br/>
                <div bar-chart chart-data="plotData" yaxis-label="tweet count" xaxis-label="minutes" style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>
            </div>
            
            <div id="genchart" class="tab-pane fade">
                <h3>Gender Chart Visualization</h3>
                <br/>
                <div gen-chart chart-data="plotData" yaxis-label="tweet count" xaxis-label="minutes" style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px" id="gchart"></div>

            </div>
            
            <div id="piechart" class="tab-pane fade">
                <h3>Pie Chart Visualization</h3>
                <h5>Choose Dimension</h5>
                <div ng-repeat="pieKey in pie_tweets" class="checkboxtext">
                    <input type="checkbox" class="chk" id="{{pieKey}}_pie" ng-click="check_pie(pieKey)">{{pieKey}}</input>
                </div>
                <br/>
                <br/>
                <button>Get Visualization</button>
                <br/>
                <br/>
                <div pie-chart chart-data="plotData" yaxis-label="tweet count" xaxis-label="minutes" style="position: relative;top:30%;left:5%; height: 1000px;width: 1000px"></div>

            </div>

        </div>
        <div style="width: 25%;">

            <sentiment-directive id="gauge1" config="gauge"></sentiment-directive>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Tweet Feeds</h2>
        <ul class="timeline">
            <li ng-repeat="tweet in tweets">
                <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6 class="timeline-title">@ {{tweet.screenname}}</h6>
                    </div>
                    <div class="timeline-body">
                        <p>{{tweet.text}}</p>
                    </div>
                </div>
            </li>
            {%endverbatim%}
        </ul>
    </div>
</div>

{% endblock content %}
