{% extends "base.html" %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="/static/css/banner.css">
<script>
    document.addEventListener('DOMContentLoaded', function () {
        particleground(document.getElementById('particles'), {
            dotColor: '#5cbdaa',
            lineColor: '#5cbdaa'
        });
        var intro = document.getElementById('intro');
        intro.style.marginTop = - intro.offsetHeight / 2 + 'px';
    }, false);




</script>
<div id="particles" ng-controller="HomeCtrl">


             <div id="intro">

                 <h1>Tweet Walker</h1>
<form style="margin:10%;position: relative" action="" method="post" >

        {% csrf_token %}
        <div class="form-group">
            {%verbatim%}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                        <div class="input-group">
                            <input type="text" class="form-control input-lg" name="hashtagInput" id="hashtagInput" ng-model="hashtag" placeholder="# enter hashtag" required/>

                            <span class="input-group-btn" style="position:relative;height:50%;">
                                <button class="btn btn-default btn-primary btn-lg" id="submit1" name="get_tweets" type="submit" value="Send" ng-disabled="disabled" >Get Tweets!</button>
                            </span>
                            <span class="input-group-btn" style="position:relative;height:50%;">
                                <button class="btn btn-default btn-primary btn-lg" id="submit2" name="get_map" type="submit" value="Send" >World Map Live!</button>
                            </span>
                        </div>
                        {%endverbatim%}
                    </div>

                </div>

    <!-- <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <label class="radio-inline"><input type="radio" name="optradio">Bar Graph</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Line Graph</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Geo Map</label>
                </div>
     </div>-->
            </div>
   <div id="overlay-inAbox" class="overlay" >
   <!-- <div class="toolbar"><a class="close" href="#"><span>x</span> close</a></div>-->
    <div class="wrapper1">

        <img src="/static/img/spinner.gif"/>
        <br>
        <span style="color:black">Fetching tweets from twitter</span>
        <br>
        <img src="/static/img/twitter1.png">
    </div>
</div>
        </form>


</div>
</div>
{% endblock content %}