{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div id="indexSubmit" ng-controller="HomeCtrl">
     <div class="container">
        <div class="jumbotron">
            <h1>Tweet Walker</h1>

            <h2>Real-time tweet visualization engine</h2>
        </div>
 <form style="margin:15%;position: relative" action="" method="post"  >

        {% csrf_token %}
        <div class="form-group">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        {%verbatim%}
                        <div class="input-group">
                            <input type="text" class="form-control " name="hashtagInput" id="hashtagInput" ng-model="hashtag" placeholder="# hashtag" required/>


            <span class="input-group-btn">

                <button class="btn btn-default btn-primary" id="submit" type="submit" value="Send" >Get Tweets!</button>
                {%endverbatim%}
            </span>
                        </div>

                    </div>

                </div>
                <br>
 <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <label class="radio-inline"><input type="radio" name="optradio">Bar Graph</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Line Graph</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Geo Map</label>
                </div>
     </div>
            </div>
        <!-- <div id="overlay-inAbox" class="overlay">
    <div class="toolbar"><a class="close" href="#"><span>x</span> close</a></div>
    <div class="wrapper">

        <img src="/static/img/spinner.gif"/>
        <br>
        <span>Fetching tweets</span>
    </div>
</div>-->
        </form>



</div>
</div>
{% endblock content %}